* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 140, 54);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
}

h1 {
    color: #F9F7E8;
    font-size: 2.5rem;
}

.add-item-container {
    display: flex;
    align-items: center;
    margin: 50px;
}

.user-input {
    width: 500px;
    font-size: 1.5rem;
    margin: 10px;
    border: none;
    background-color: #F9F7E8;
    border-bottom: solid black 1px;
}

.add-todo {
    font-size: 1.5rem; 
    padding: 3px;
    cursor: pointer;
    color: #25658C;
}

.add-todo:hover {
    
    color: rgb(45, 136, 128);
}

.list-container {
    background-color: #F9F7E8;
    width: 550px;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
}

.todo-item li {
    list-style-type: none;
    flex-grow: 1;
    padding-left: 10px;
    
}

.todo-item button {
    border: none;
    font-size: 1rem;
    margin: 5px;
    background-color: #F9F7E8;
    cursor: pointer;
}

.todo-item .fa-check:hover {
    color: #25658C;
}

.todo-item .fa-trash-alt:hover{
    color: rgba(153, 8, 8);
}

.completed {
    opacity: .5;
    text-decoration: line-through;
}